{% extends 'base.html.twig' %}

{% block title %}Notre Boutique{% endblock %}

{% block body %}

<div class="container z-depth-1 my-5 px-0">

  <!--Section: Content-->
  <section class="my-md-5" 
    style="background-image: url('{{ asset('images/bouquet.jpg')}}'); background-size: cover; background-position: center center;">

    <div class="rgba-black-strong rounded p-5">

      <!-- Section heading -->
      <h3 class="text-center font-weight-bold text-white mt-3 mb-5">Contactez nous</h3>

      <form class="mx-md-5" action="post">

        <div class="row">
          <div class="col-md-6 mb-4">

            <div class="card">
              <div class="card-body px-4">

                <!-- Name -->
                <div class="md-form md-outline mt-0">
                  <input type="text" id="name" class="form-control">
                  <label for="name">Nom</label>
                </div>
                <!-- Email -->
                <div class="md-form md-outline">
                  <input type="text" id="email" class="form-control">
                  <label for="email">Email</label>
                </div>
                <!-- Message -->
                <div class="md-form md-outline">
                  <textarea id="message" class="md-textarea form-control" rows="3"></textarea>
                  <label for="message">Votre Message</label>
                </div>

                <button type="submit" class="btn btn-primary btn-md btn-block ml-0 mb-0">Envoyer</button>

              </div>
            </div>

          </div>
          <div class="col-md-5 offset-md-1 mt-md-4 mb-4 white-text">

            <h5 class="font-weight-bold">Addresse</h5>
            <p class="mb-0">1632 Main Street</p>
            <p class="mb-0">New York, 94126</p>
            <p class="mb-4 pb-2">United States</p>

            <h5 class="font-weight-bold">Téléphone</h5>
            <p class="mb-4 pb-2">04 58 99 66 85</p>

            <h5 class="font-weight-bold">Email</h5>
            <p>lefleuriste@gmail.com</p>

          </div>
        </div>

      </form>

    </div>

  </section>
  <!--Section: Content-->


</div>

{% endblock %}